 <div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Tipo de Gestion:</label>
        <div class="col-sm-8">

            <select id="tipo_gestion" class="form-control" disabled="disabled" >
                {% for tipo_estion in tipo_gestiones %}
                    {% ifequal gestion.tipo_gestion tipo_estion %}
                        <option  selected="selected" value="{{ tipo_estion.id }}">
                            {{ tipo_estion.nombre|title }}</option>
                    {% else %}
                        <option value="{{ tipo_estion.id }}">{{ tipo_estion.nombre|title }}</option>
                    {% endifequal %}
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="hr-line-dashed"></div>
 <div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Descripcion:</label>
        <div class="col-sm-8">
            <textarea id="gestion_descripcion" disabled="disabled" cols="2" class="form-control" placeholder="Descripcion" type="text">{{ gestion.descripcion }}</textarea>
        </div>
    </div>
</div>
<div class="hr-line-dashed"></div>
 <div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Porgramación:</label>
        <div class="col-sm-8">
            <input id="gestion_programacion"
                 type="text" disabled="disabled" class="form-control datetimepicker"
                 placeholder="Fecha de programación" aria-describedby="basic-addon1">
        </div>
    </div>
</div>
<div class="hr-line-dashed"></div>
 <div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Resultado:</label>
        <div class="col-sm-8">
            <select id="tipo_resultado" class="form-control" >
                {% for resultado in resultados %}
                    <option value="{{ resultado.id }}">{{ resultado.nombre|title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="hr-line-dashed"></div>
 <div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Descripcion Resultado:</label>
        <div class="col-sm-8">
            <textarea id="gestion_descripcion-resultado" cols="2" class="form-control"
                      placeholder="Descripcion del resultado de la gestion" type="text"></textarea>
        </div>
    </div>
</div>

<input type="hidden" id="gestion-accion" value="finish" >
<input type="hidden" id="gestion-edit-id" value="{{ gestion.id }}">
<script type="javascript">

</script>