{% extends "app/index.html" %}
{% block title-bloc %}
    Listado de Proformas
{% endblock title-bloc %}
{% block css-content %}
    <link href="/static/app/css/sweetalert.css" rel="stylesheet">
    <link href="/static/app/css/magicsuggest-min.css" rel="stylesheet">
    <link href="https://rawgit.com/truckingsim/Ajax-Bootstrap-Select/master/dist/css/ajax-bootstrap-select.min.css" rel="stylesheet">
{% endblock css-content %}
{% block breadcrums %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title">
            <h1>Inventario<small></small></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dollar"></i></a></li>
                <li class="active">Pedidos</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrums %}
{% block cuerpo %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Listado de pedidos</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">
                <a id="btnNuevoPedido" style="float: right" class="btn btn-success btn-3d" href="javascript:void(0)"><i class="fa fa-plus fa-fw"></i> Nuevo Pedido</a>
                <hr/>
                <div id="content-listado-pedidos"></div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Pedido</h4>
                <small>Registro de pedido</small>
            </div>
            <div class="modal-body">
                <div id="conten-pedido"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="guardarPedido()"><i class="fa fa-save fa-fw"></i>Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-productos" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Productos</h4>
            </div>
            <div class="modal-body">
                <div id="conten-productos"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="modal-pedido-preview" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Pedido</h4>
            </div>
            <div class="modal-body">
                <iframe id="conten-pedido-preview" width="100%" style="height: 400px;"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>
{% endblock cuerpo %}
{% block scripts-block %}
    <script src="/static/app/js/data-tables/jquery.dataTables.js"></script>
    <script src="/static/app/js/data-tables/dataTables.tableTools.js"></script>
    <script src="/static/app/js/data-tables/dataTables.bootstrap.js"></script>
    <script src="/static/app/js/data-tables/dataTables.responsive.js"></script>
    <script src="/static/app/js/data-tables/tables-data.js"></script>
    <script src="/static/app/js/sweet-alert/sweetalert.min.js"></script>
    <script src="https://rawgit.com/truckingsim/Ajax-Bootstrap-Select/master/dist/js/ajax-bootstrap-select.min.js"></script>
    <script src="/static/app/js/magicsuggest-min.js"></script>
    <script>
        $(document).ready(function () {
            mostrarPedidos();
            $("#btnNuevoPedido").on('click',function () {
                nuevoPedido();
            });
        });
        function init_atocomple_productos(){
          var ms = $('#searchProducto').magicSuggest({
                placeholder: 'Busque su producto',
                data: '../get_productos_autocomplete/',
                valueField: 'value',
                displayField: 'text',
                //groupBy: 'continentName',
                mode: 'remote',
                renderer: function(data){
                    return '<div class="row" >' +
                                '<div class="col-xs-12 col-sm-4"> <img src="' + data.imagen.toLowerCase() + '" style="width: 72px; height: 72px;" /></div>' +
                                '<div class="col-xs-12 col-sm-8">'+
                                    '<small><span><strong>Nombre: </strong>' + data.nombre +
                                        '<br><strong>Marca: </strong>' + data.marca +
                                        '<br><strong>Precio: </strong>' + data.precio +
                                        ' <strong>Existencia: </strong>' + data.existencia +
                                    '</span></small>' +
                                '</div>' +
                            '</div>';
                },
                resultAsString: true,
                selectionRenderer: function(data){
                    var domstr="<tr>" +
                        "<td>"+ data.nombre +"</td>" +
                        "<td class='serie'></td>" +
                        "<td>" + data.marca + "</td>" +
                        "<td class='existencia'>"+ data.existencia +"</td>" +
                        "<td><input type='hidden' name='id' value='"+ data.id_detalle +"'><input name='cantidad' value='0' class='form-control' onchange='changeCantidadProductoDetalle(this)'></td>" +
                        "<td class='precio'>"+ data.precio +"</td>" +
                        "<td class='total'>0</td>" +
                        "<td><button onclick='borarProductoDetalle(this)' class='tbn btn-danger tbn-3d'><i class='fa fa-trash fa-fw'></></button></td>" +
                    +"</tr>"
                    $("#table_pedido_detalle > tbody").append(domstr);
                    ms.clear();
                    if(data.hasOwnProperty('imagen'))
                        return '<img src="' + data.imagen.toLowerCase() + '"  style="width: 50px; height: 50px;" />' +
                                '<div class="name">' + data.text + '</div>';

                }
            });
        }
        function mostrarPedidos() {
            $.ajax({
                url:"../render_listado_pedido/",
                type:"GET",
                success:function (result) {
                    $("#content-listado-pedidos").empty().html(result);
                }
            });
        }
        function nuevoPedido() {
            $.ajax({
                url:"../render_nuevo_pedido/",
                type:"GET",
                success: function (result) {
                    $("#conten-pedido").empty().html(result);
                    $(".select2").select2();
                    $("#myModal").modal({
                      backdrop: 'static',
                      keyboard: false
                    });
                    init_atocomple_productos();
                }
            });
        }
        function guardarPedido() {
            var data =$('#conten-pedido :input').serialize();

            $.ajax({
                url:"../add_nuevo_pedido/?csrfmiddlewaretoken={{ csrf_token }}",
                type:"post",
                data:data,
                success: function (result) {
                    var data=result[0];
                    if(data.code==200){
                        $("#myModal").modal('hide');
                        mostrarPedidos();
                    }else {
                        swal({
                            title: "Upss.. ha ocurrido un inconveniente",
                            text: data.mensaje,
                            type: "warning"
                        });
                    }
                }
            });
        }
        function anular_pedido(pedido) {
            swal({
                title: "Anulación",
                text: "Esta seguro que desea anular este pedido?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#4286f4",
                confirmButtonText: "Si, anular",
                closeOnConfirm: true
            },
            function(){
                $.ajax({
                    url:"../anular_nuevo_pedido/",
                    data: {id_pedido:pedido, csrfmiddlewaretoken: '{{ csrf_token }}' },
                    type:"POST",
                    success:function (result) {
                        data=result[0];
                        if(data.code==200){
                            mostrarPedidos();
                            swal({
                                 title: "Exito!",
                                text: data.mensaje,
                                type: "success"
                            });
                        }else {
                            swal({
                                title: "Upss. ha ocurrido un error",
                                text: data.mensaje,
                                type: "success"
                            });
                        }
                    }
                });
            });
        }
        function mostar_pedido(pedido) {
            var $iframe = $("#conten-pedido-preview");
            var url="../mostrar_pedido_pdf/?id_pedido=" + pedido;
            $iframe.attr('src',url);
            $("#modal-pedido-preview").modal('show');
            return false;
        }

        function showaddProducto() {
            $.ajax({
                url:"../render_listado_producto/",
                type:"GET",
                success:function (result) {
                    $("#conten-productos").empty().html(result);
                    $("#modal-productos").modal('show');
                    var table = $("#table-listado-productos").dataTable({
                        "pageLength": 5
                    });
                    $('#table-listado-productos tbody').on( 'click', 'tr', function () {
                        if ( $(this).hasClass('active') ) {
                            $(this).removeClass('active');
                        }
                        else {
                            table.$('tr.active').removeClass('active');
                            $(this).addClass('active');
                        }
                    } );
                }
            });

        }
        function agregarProductoDetalle(nombre, serie, marca, id_detalle, existencia, precio) {
            $("#modal-productos").modal('hide');
            $("#myModal").modal('show');
            var rowCount = $('#table_pedido_detalle >tbody >tr').length;
            $("#table_pedido_detalle > tbody").append(
                    "<tr>" +
                        "<td>"+nombre+"</td>" +
                        "<td>"+serie+"</td>" +
                        "<td>"+marca+"</td>" +
                        "<td class='existencia'>"+existencia+"</td>" +
                        "<td><input type='hidden' name='id' value='"+ id_detalle +"'><input name='cantidad' value='0' class='form-control' onchange='changeCantidadProductoDetalle(this)'></td>" +
                        "<td class='precio'>"+precio+"</td>" +
                        "<td class='total'>0</td>" +
                        "<td><button onclick='borarProductoDetalle(this)' class='tbn btn-danger tbn-3d'><i class='fa fa-trash fa-fw'></></button></td>" +
                    +"</tr>"
            );
        }
        function borarProductoDetalle(value) {
            var parent = value.closest('tr');
            parent.remove();
        }
        function changeCantidadProductoDetalle(input) {
            input=$(input);
            var parent = $(input.closest('tr'));
            var cantidad=input.val();
            var existencia=parseFloat(parent.find('.existencia').text());
            if(cantidad>existencia){
                cantidad=existencia;
                input.val(cantidad);

            }
            var precio = parseFloat(parent.find('.precio').text());
            var total = cantidad*precio;
            parent.find('.total').text(total);

        }

    </script>
{% endblock %}
