<table id="basic-datatables" class="table table-bordered table-responsive dataTable"
       role="grid" aria-describedby="basic-datatables_info">
    <thead>
        <tr>
            <th>Factrua</th>
            <th>Cliente</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Anulada</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
    {% for factura in facturas %}
        <tr role="row">
            <td>{{ factura.no_fac }}</td>
            <td>{{ factura.cliente }}</td>
            <td>{{ factura.total }}</td>
            <td>{{ factura.fecha_creacion|date:"Y-m-d h:m:s" }}</td>
            <td>
            {% if factura.anulada %}
                <input type="checkbox" checked="checked" disabled="disabled">
            {% else %}
                <input type="checkbox" disabled="disabled">
            {% endif %}
            </td>
            <td>
                <a href="javascript:void(0)" onclick="mostar_factura({{ factura.id }}); return false;">Ver</a>|
                <a href="javascript:void(0)" onclick="anular_factura({{ factura.id }}); return false;">Anular</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>