
 <div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Vendedor:</label>
        <div class="col-sm-8">
            <input type="text" name="name_vendedor" value="{{ actual_vendedor }}" class="form-control" readonly id="name_vendedor">
            <input name="vendedor" type="hidden" value="{{ actual_vendedor.id }}">
        </div>
    </div>
</div>
 <div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Cliente:</label>
        <div class="col-sm-8">
            <select name="cliente" data-live-search="true" class="form-control select2" type="text">
                <option selected="selected">--seleccione cliente--</option>
                {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.identificacion }}; {{ cliente.nombre }}; {{ cliente.telefono }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="hr-line-dashed"></div>
 <div class="row">
    <div class="form-group">
        <label class="col-sm-4 control-label">Comentario:</label>
        <div class="col-sm-8">
            <textarea cols="2" name="comentario" class="form-control" type="text" placeholder="Sus comentarios"></textarea>
        </div>
    </div>
</div>

<div class="hr-line-dashed"></div>
 <div class="row">
    <div class="col-sm-12">
        <input type="text" data-live-search="true" class="form-control" id="searchProducto">
        </input>
       <button id="addProducto" onclick="showaddProducto()"><i class="fa fa-plus fa-fw"></i> Agregar Producto</button>
        <table id="table_pedido_detalle" class="table table-bordered tablesaw-swipe table-responsive" >
            <thead>
            <tr>
                <th width="30%">Producto</th>
                <th width="100px">Serie</th>
                <th width="300px">Marca</th>
                <th width="90px">Existencia</th>
                <th width="90px">Cantidad</th>
                <th width="50px">P/U</th>
                <th width="90px">Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<input type="hidden" id="peido-accion" value="add" >
