{% extends "app/index.html" %}

{% comment %}{% block static-navbar %}{% endblock static-navbar %}

{% block aside-bar %}{% endblock aside-bar %}
{% endcomment %}
{% block breadcrums %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title" style="margin-bottom: 0px;">
            <h1>Cobranza al Cliente {{ cliente.nombre }}<small></small></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-money"></i></a></li>
                <li><a href="../cobranza">Cobranza</a></li>
                <li class="active">Cliente</li>
            </ol>
        </div>
    </div>
</div>
{% endblock breadcrums %}

{% block cuerpo %}
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Datos Generales</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">
                <input id="clienteid" type="hidden" value="{{ cliente.id }}">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Identificación:</label>
                        <div class="col-sm-10">
                            <input class="form-control" disabled="true" placeholder="identificacion:" type="text" value="{{ cliente.identificacion }}">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre:</label>
                        <div class="col-sm-10">
                            <input class="form-control" disabled="true" placeholder="Nombre:" type="text" value="{{ cliente.nombre }}">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefono:</label>
                        <div class="col-sm-10">
                            <input class="form-control" disabled="true" placeholder="Telefono:" type="text" value="{{ cliente.telefono }}">
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dirección:</label>
                        <div class="col-sm-10">
                            <input class="form-control" disabled="true" placeholder="Dirección:" type="text" value="{{ cliente.direccion }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Facturas</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="nano has-scrollbar" style="height:440px">
                    <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                        {% for factura in facturas %}
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-4"><strong>No Factura:</strong> </div>
                                    <div class="col-sm-8">{{ factura.nodoc }}</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Fecha Emisión:</strong></div>
                                    <div class="col-sm-8">{{ factura.fecha }}</div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4"><strong>Fecha Vencimiento:</strong></div>
                                    <div class="col-sm-4">{{ factura.fecha_vence }}</div>
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-3d btn-success">Abonar</button>
                                    <button class="btn btn-3d btn-primary">Cancelar</button>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-card recent-activites ">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Comentarios</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="nano has-scrollbar" style="height:240px">
                    <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                        <div class="panel panel-warning">
                            <div class="panel-heading">{{ comentarios|length }} Comentarios</div>
                            <div class="panel-body">
                                <br/>
                                {% for comentario in comentarios %}
                                    <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img src="/static/app/images/avtar-2.jpg" class="media-object img-circle" alt="" width="60">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 id="media-heading" class="media-heading"><a href="">{{ comentario.usuario }}</a>
                                            <small>10 min</small>
                                            <a href="#media-heading">
                                                <span class="anchorjs-icon"></span>
                                            </a>
                                        </h4>
                                        <p>{{ comentario.descripcion }}</p>
                                    </div>
                                </div>
                                    <hr>
                                {% endfor %}

                                {% comment %}<div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img src="/static/app/images/avtar-2.jpg" class="media-object img-circle" alt="" width="60">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 id="media-heading" class="media-heading"><a href="">Susan Grant</a>
                                            <small>10 min</small>
                                            <a href="#media-heading">
                                                <span class="anchorjs-icon"></span>
                                            </a>
                                        </h4>
                                        <p>Donec ac massa tortor. In hac habitasse platea dictumst. Nam blandit fringilla faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae nisi eget metus semper congue.</p>
                                        <p>Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img src="/static/app/images/avtar-1.jpg" class="media-object img-circle" alt="" width="60">
                                        </a>
                                    </div>
                                    <div class="media-body mb-lg">
                                        <h4 id="media-heading1" class="media-heading"><a href="">Dustin Dunn</a>
                                            <small>20 min</small>

                                        </h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                        lacinia congue felis in faucibus.
                                        <hr>
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="#">
                                                    <img src="/static/app/images/avtar-3.jpg" class="media-object img-circle" alt="" width="60">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 id="nested-media-heading" class="media-heading"><a href="">Marcus Gomez</a>
                                                    <small>1 hour</small>

                                                </h4>Integer ac nisl et urna gravida malesuada. Vivamus fermentum libero vel felis aliquet interdum.</div>
                                        </div>
                                    </div>
                                </div>{% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <textarea id="post-comment" name="post-comment" rows="4" placeholder="Su comentario aquí.." class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button id="comentar" class="btn btn-effect-ripple btn-primary">Enviar comentario</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-card recent-activites">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Visitas / Promesas de pago / Gestiones</h4>
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                    <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
                </div>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>

{% endblock cuerpo %}
{% block scripts-block %}
    <script src="/static/app/js/data-tables/jquery.dataTables.js"></script>
    <script src="/static/app/js/data-tables/dataTables.tableTools.js"></script>
    <script src="/static/app/js/data-tables/dataTables.bootstrap.js"></script>
    <script src="/static/app/js/data-tables/dataTables.responsive.js"></script>
    <script src="/static/app/js/data-tables/tables-data.js"></script>   
    <script>
    $(document).ready(function () {
        $("#comentar").on('click',function () {
            var comment= $("#post-comment").val();
            var cliente = $("#clienteid").val();
            $.ajax({
                url:"../add_comentario_cliente/",
                type:"POST",
                dataType: 'json',
                data: {comentario:comment,id_cliente:cliente},
                success: function (result) {
                    data=result[0];
                    alert(data.mensaje);
                }
            });
        })
        $.ajax({
            url:"../get_comentario_cliente/?id={{ cliente.id }}",
            type:"GET",
            success:function (result) {
                alert(result)
            }
        });
    })
    </script>
{% endblock %}